<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #024996!important;position: fixed;top: 0;width: 100%;z-index: 1;">
    <a class="navbar-brand" href="Index.html" style="color: aliceblue;font-size: 20px;padding: 0px;">AIUB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
        <form class="form-inline my-2 my-lg-0 search-form" style="padding-right: 300px;margin:0;">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 650px;">

        </form>
        <ul class="nav navbar-nav navbar-right">
              <a href="" style="padding-right:10px;display:flex">Welcome</a>
        </ul>
    </div>
</nav>



