<!-- <h1>this is the app component</h1> -->
<!-- <hr>

<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<app-servers></app-servers> -->



<!-- <p-tabView>
	<p-tabPanel header="Godfather I" *ngIf="showTabs && showTabs['one']">
		The story begins as Don Vito Corleone, the head of a New York Mafia family, overseeshis daughter's wedding. His beloved son
		ichael has just come home from the war, but does not intend to become part of his father's business. T hrough Michael's
		life the nature of the family business becomes clear. The business of the family is just like the head of the family, kind
		and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the
		family.
	</p-tabPanel>
	<p-tabPanel header="Godfather II" *ngIf="showTabs && showTabs['two']">
		Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather parallels the young Vito
		Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark side of the American
		dream. In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family.
		Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy, killing the local
		Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature
		grows.
	</p-tabPanel>
	<p-tabPanel header="Godfather III" *ngIf="showTabs && showTabs['three']">
		After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third
		and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael Corleone, now
		divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate.
	</p-tabPanel>
</p-tabView> -->
 

<div class="app-container">
    <app-menu class="menu-bar"></app-menu>
    <app-main-content class="main-content-container"></app-main-content>
  </div>




<p-tabView>
    <p-tabPanel [header]="item.name" *ngFor="let item of items; let i = index" [selected]="i == 0" [closable]="true">
        <h:form>
    <div class="card">
        <table class="table table-striped">
            <thead>
                <th>
                    <tr>Name</tr>
                </th>
                <th>
                    <tr>Age</tr>
                </th>
            </thead>
            <tbody>
                    <tr>
                        <td><tr>{{item.name}}</tr></td>
                        <td><tr>{{item.age}}</tr></td>
                    </tr>
                    <tr>
                        <td><tr>{{item.name}}</tr></td>
                    </tr>
            </tbody>
        </table>
    </div>
</h:form>
    </p-tabPanel>
</p-tabView>